.header-main{
  background: #1b97a8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid black;
}
.header-main div h4{
  margin: 0px 10px 0px 10px;
  font-size: 2.5vw;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.social-media-logos{
  display: flex;
  justify-content: space-between;
}
.social-media-logos li{
  margin: 0px 10px 0px 10px;
  font-size: 2.5vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #454545;

}
