.main-paralax-image{
  background-image: url("./../images/space.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
.project-rows-container {
    background: rgba(27, 151, 168,0.5);
    border-radius: 30px;
    margin: 0vw 1vw 0vw 1vw;
    padding: 0vw 0vw 2vw 0vw;
    border: 4px solid black;

}
.project-rows-container h2 {
  margin-left: 3vw;
  color: white;
  font-size: 3vw;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.project-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first-project{
  overflow: hidden;
  width: 26vw;
  height: 44vh;
}

.space-creator{
  width: 90vw;
  height: 7vw;
}
.resume-div{
  margin: 4vw 0vw 0vw 0vw;

}
.resume-div a {
text-decoration: underline;
font-size: 2vw;
color: white;
}
.resume-div h3 {
font-size: 2.5vw;
}
.resume-div a img{
box-shadow: 10px 10px 10px black;
}
.resume{
  width: 22vw;
}
.youtube-div {
box-shadow: 0px 2px 10px 10px black;
}
.youtube-div a {
text-decoration: underline;
font-size: 2vw;
color: white;
}
.youtube-div h3 {
text-decoration: underline;
font-size: 3vw;
color: white;
padding: 0vw 3vw 2vw 3vw;
}
.projects-before-resume{
  box-shadow: 0px 2px 10px 10px black;
  padding-bottom: 5vw;
  margin: 0vw 6vw 0vw 6vw;
}
.projects-before-resume h3{
  font-size: 2vw;
}
.projects-mini{
  text-align: left;
  position: relative;
  left: 4vw;
  top: 1vw;
  color: white;
}
