.project-main-div a img{
  overflow: hidden;
}
/*.project-main-div a img:hover{
  animation: onhover 1s linear;
}*/
.project-main-div h3{
  color: white;
  text-decoration: underline;
  font-size: 2vw;
}
.project{
  width: 20vw;
  margin: 3vw 3vw 0vw 3vw;
  border: 3px solid white;
  box-shadow: 10px 10px 10px black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*@keyframes onhover {
  0% {
    width: 20vw;
  }
  100% {
    width: 23vw;
  }
}*/
