.skills-main{
  border-top: 1vw solid #1B97A8;
  border-bottom: 4px solid black;
  background: #1B97A8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #1B97A8, #52bab7,#1B97A8, #52bab7,#1B97A8); /* Standard syntax */
}
.skills-main p{
  font-size: 5vw;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
}
.skills-main:nth-child(1){
  text-decoration: underline;
}
.skills-main svg{
  width: 15vw;
}
.fa-5x{
  font-size: 16vw;
}
.logo-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.react-icon{
  position: relative;
  left: 1.5vw;
  margin: 0vw 0vw !important;
}
.angular-icon{
  width: 25vw !important;
  margin-right: 0vw !important;
  margin-left: 0vw !important;
}
.logo-row *{
  margin: 4vw;
}
.heroku{
  fill: #7E57C2;
}
